{% load static %}
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/logo1.png' %}" />
          </a>
          <!-- ***** Logo End ***** -->

          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="{% url 'home' %}" class="active">Home</a></li>
            <li class="submenu">
              <a href="javascript:;">Laptops</a>
              <ul>
                <li><a href="{% url 'dell' %}">Dell</a></li>
                <li><a href="{% url 'hp' %}">HP</a></li>
                <li><a href="{% url 'products' %}">Explore All</a></li>
              </ul>
            </li>
            <li><a href="{% url 'accessories' %}">Accessories</a></li>
            <li><a href="{% url 'products' %}">Softwares</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
