{% extends "base.html" %} {% load static %} {% block content %}
<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading about-page-heading" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-content">
          <h2>About Us</h2>
          <span
            >High Quality Laptops, Repairs &amp; Software Installations</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** About Area Starts ***** -->
<div class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-image">
          <img src="{% static 'images/about-left-image.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <h4>About Us &amp; Our Mission</h4>
          <span
            >Ajums Effort Computers is a retail and service business dedicated
            to providing high-quality laptops, computer repair services, and
            software installations at competitive prices.</span
          >
          <div class="quote">
            <i class="fa fa-quote-left"></i>
            <p>
              Our mission is to provide affordable, dependable computing
              solutions and unparalleled customer service, becoming the trusted
              source for laptops, repairs, and software installations in our
              area.
            </p>
          </div>
          <p>
            Ajums Effort Computers is dedicated to offering high-quality,
            reliable computing solutions for individuals, students, and
            businesses in our community. Our core services include selling Dell
            and HP laptops, providing computer repair services, and performing
            software installations, ensuring our customers have access to the
            tools and support they need to succeed in an increasingly digital
            world.
          </p>
          <ul>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-behance"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** About Area Ends ***** -->

<!-- ***** Our Team Area Starts ***** -->
<section class="our-team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Our Amazing Team</h2>
          <span
            >Details to details is what makes Hexashop different from the other
            themes.</span
          >
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-item">
          <div class="thumb">
            <div class="hover-effect">
              <div class="inner-content">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-behance"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <img src="{% static 'images/men-01.jpg' %}" />
          </div>
          <div class="down-content">
            <h4>Ajulibe Chibueze</h4>
            <span>CEO/MD</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-item">
          <div class="thumb">
            <div class="hover-effect">
              <div class="inner-content">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-behance"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <img src="{% static 'images/women-01.jpg' %}" />
          </div>
          <div class="down-content">
            <h4>Faith U.</h4>
            <span>Secretary</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-item">
          <div class="thumb">
            <div class="hover-effect">
              <div class="inner-content">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-behance"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <img src="{% static 'images/men-02.jpg' %}" />
          </div>
          <div class="down-content">
            <h4>Giddy Ajulibe</h4>
            <span>Graphics Designer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Our Team Area Ends ***** -->

<!-- ***** Services Area Starts ***** -->
<section class="our-services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Our Services</h2>
          <span
            >Ajums Effort Computers operates with a customer-centered approach,
            focusing on three primary services</span
          >
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-item">
          <h4>Computer Sales</h4>
          <p>
            Offering a curated selection of Dell and HP laptops to meet various
            budget and performance needs, positioning ourselves as a go-to
            vendor for high-quality devices.
          </p>
          <img src="{% static 'images/baner-right-image-01a.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-item">
          <h4>Repairs and Maintenance</h4>
          <p>
            Providing affordable and timely repair services, from hardware
            replacements to software troubleshooting, which cater to both
            individual and business clients.
          </p>
          <img src="{% static 'images/baner-right-image-04a.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-item">
          <h4>Software Installations</h4>
          <p>
            Delivering professional installation of essential software,
            including productivity tools, antivirus programs, and custom
            applications to enhance computer performance and security.
          </p>
          <img src="{% static 'images/left-banner-imagea.jpg' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Services Area Ends ***** -->

<!-- ***** Subscribe Area Starts ***** -->
{% include "partials/subscribe.html" %}
<!-- ***** Subscribe Area Ends ***** -->

{% endblock content %}
