{% extends "base.html" %} {% load static %} {% block content %}

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-content">
          <div class="thumb">
            <div class="inner-content">
              <h4>Ajums Effort Computers</h4>
              <span
                >High Quality Laptops, Repairs &amp; Software
                Installations</span
              >
              <div class="main-border-button">
                <a href="#">Purchase Now!</a>
              </div>
            </div>
            <img src="{% static 'images/left-banner-image.jpg' %}" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <div class="row">
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Dell</h4>
                    <span>Best Quality Computers</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Dell</h4>
                      <p>We sell all kinds of Dell Computers.</p>
                      <div class="main-border-button">
                        <a href="{% url 'dell' %}">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="{% static 'images/baner-right-image-01.jpg' %}" />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>HP</h4>
                    <span>High-End HP Computers</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>HP Computers</h4>
                      <p>We sell all specifications of HP Computers.</p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="{% static 'images/baner-right-image-02.jpg' %}" />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Accessories</h4>
                    <span>Best Computer Gadgets</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Accessories</h4>
                      <p>
                        We sell and supply all kinds of computer accessories.
                      </p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="{% static 'images/baner-right-image-03.jpg' %}" />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Repairs &amp; Software Installations</h4>
                    <span>We Offer Best Maintenance Services</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Maintenance</h4>
                      <p>We repair and offer software installation services.</p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="{% static 'images/baner-right-image-04.jpg' %}" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Men Area Starts ***** -->
<section class="section" id="men">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>Dell Computers</h2>
          <span
            >We have all specifications of Dell Computers to meet your
            needs.</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="men-item-carousel">
          <div class="owl-men-item owl-carousel">
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <img src="{% static 'images/men-01.jpg' %}" alt="" />
              </div>
              <div class="down-content">
                <h4>Classic Spring</h4>
                <span>$120.00</span>
                <ul class="stars">
                  <p>Avaliable</p>
                  <!-- <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li> -->
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <img src="{% static 'images/men-02.jpg' %}" alt="" />
              </div>
              <div class="down-content">
                <h4>Air Force 1 X</h4>
                <span>$90.00</span>
                <ul class="stars">
                  <p>Avaliable</p>
                  <!-- <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li> -->
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <img src="{% static 'images/men-03.jpg' %}" alt="" />
              </div>
              <div class="down-content">
                <h4>Love Nana ‘20</h4>
                <span>$150.00</span>
                <ul class="stars">
                  <p>Out of Stock</p>
                  <!-- <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li> -->
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <img src="{% static 'images/men-01.jpg' %}" alt="" />
              </div>
              <div class="down-content">
                <h4>Classic Spring</h4>
                <span>$120.00</span>
                <ul class="stars">
                  <p>Avaliable</p>
                  <!-- <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Men Area Ends ***** -->

<!-- ***** Women Area Starts ***** -->
<section class="section" id="women">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>HP Computers</h2>
          <span>We sell all specifications of HP Computers.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="women-item-carousel">
          <div class="owl-women-item owl-carousel">
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <img src="{% static 'images/women-01.jpg' %}" alt="" />
              </div>
              <div class="down-content">
                <h4>New Green Jacket</h4>
                <span>$75.00</span>
                <ul class="stars">
                  <p>Avaliable</p>
                  <!-- <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li> -->
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <img src="{% static 'images/women-02.jpg' %}" alt="" />
              </div>
              <div class="down-content">
                <h4>Classic Dress</h4>
                <span>$45.00</span>
                <ul class="stars">
                  <p>Out of Stock</p>
                  <!-- <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li> -->
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <img src="{% static 'images/women-03.jpg' %}" alt="" />
              </div>
              <div class="down-content">
                <h4>Spring Collection</h4>
                <span>$130.00</span>
                <ul class="stars">
                  <p>Avaliable</p>
                  <!-- <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li> -->
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <img src="{% static 'images/women-01.jpg' %}" alt="" />
              </div>
              <div class="down-content">
                <h4>Classic Spring</h4>
                <span>$120.00</span>
                <ul class="stars">
                  <p>Avaliable</p>
                  <!-- <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Women Area Ends ***** -->

<!-- ***** Kids Area Starts ***** -->
<section class="section" id="kids">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>Accessories</h2>
          <span>We sell and supply all kinds of computer accessories.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="kid-item-carousel">
          <div class="owl-kid-item owl-carousel">
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <img src="{% static 'images/kid-01.jpg' %}" alt="" />
              </div>
              <div class="down-content">
                <h4>School Collection</h4>
                <span>$80.00</span>
                <ul class="stars">
                  <p>Avaliable</p>
                  <!-- <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li> -->
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <img src="{% static 'images/kid-02.jpg' %}" alt="" />
              </div>
              <div class="down-content">
                <h4>Summer Cap</h4>
                <span>$12.00</span>
                <ul class="stars">
                  <p>Out of Stock</p>
                  <!-- <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li> -->
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <img src="{% static 'images/kid-03.jpg' %}" alt="" />
              </div>
              <div class="down-content">
                <h4>Classic Kid</h4>
                <span>$30.00</span>
                <ul class="stars">
                  <p>Avaliable</p>
                  <!-- <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li> -->
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <img src="{% static 'images/kid-01.jpg' %}" alt="" />
              </div>
              <div class="down-content">
                <h4>Classic Spring</h4>
                <span>$120.00</span>
                <ul class="stars">
                  <p>Avaliable</p>
                  <!-- <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Kids Area Ends ***** -->

<!-- ***** Explore Area Starts ***** -->
<section class="section" id="explore">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-content">
          <h2>Explore Our Products</h2>
          <span
            >Ajums Effort Computers is dedicated to offering high-quality,
            reliable computing solutions for individuals, students, and
            businesses in our community.</span
          >
          <div class="quote">
            <i class="fa fa-quote-left"></i>
            <p>
              Our mission is to provide affordable, dependable computing
              solutions and unparalleled customer service, becoming the trusted
              source for laptops, repairs, and software installations in our
              area.
            </p>
          </div>
          <p>
            Computer Sales: Offering a curated selection of Dell and HP laptops
            to meet various budget and performance needs, positioning ourselves
            as a go-to vendor for high-quality devices.
          </p>
          <p>
            Repairs and Maintenance: Providing affordable and timely repair
            services, from hardware replacements to software troubleshooting,
            which cater to both individual and business clients.
          </p>
          <div class="main-border-button">
            <a href="products.html">Discover More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <div class="row">
            <div class="col-lg-6">
              <div class="leather">
                <h4>Computer Bags</h4>
                <span>Latest Collection</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="first-image">
                <img src="{% static 'images/explore-image-01.jpg' %}" alt="" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="second-image">
                <img src="{% static 'images/explore-image-02.jpg' %}" alt="" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="types">
                <h4>Detachable Cameras</h4>
                <span>Over 100 Products</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Explore Area Ends ***** -->

<!-- ***** Social Area Starts ***** -->
<section class="section" id="social">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Modern Accessories</h2>
          <span
            >Accessories to make using your computer easier and
            productive.</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row images">
      <div class="col-2">
        <div class="thumb">
          <div class="icon">
            <a href="http://instagram.com">
              <h6>Fashion</h6>
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <img src="{% static 'images/instagram-01.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col-2">
        <div class="thumb">
          <div class="icon">
            <a href="http://instagram.com">
              <h6>New</h6>
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <img src="{% static 'images/instagram-02.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col-2">
        <div class="thumb">
          <div class="icon">
            <a href="http://instagram.com">
              <h6>Brand</h6>
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <img src="{% static 'images/instagram-03.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col-2">
        <div class="thumb">
          <div class="icon">
            <a href="http://instagram.com">
              <h6>Makeup</h6>
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <img src="{% static 'images/instagram-04.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col-2">
        <div class="thumb">
          <div class="icon">
            <a href="http://instagram.com">
              <h6>Leather</h6>
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <img src="{% static 'images/instagram-05.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col-2">
        <div class="thumb">
          <div class="icon">
            <a href="http://instagram.com">
              <h6>Bag</h6>
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <img src="{% static 'images/instagram-06.jpg' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Social Area Ends ***** -->

<!-- ***** Subscribe Area Starts ***** -->
{% include "partials/subscribe.html" %}
<!-- ***** Subscribe Area Ends ***** -->

{% endblock content %}
