{% extends "base.html" %} {% load static %} {% block content %}
<!-- ***** Header Area Start ***** -->

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-content">
          <h2>Product Details</h2>
          <span
            >High Quality Laptops, Repairs &amp; Software Installations</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Product Area Starts ***** -->
<section class="section" id="product">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="left-images">
          <img src="{{ product.front_img.url }}" alt="" />
          <img src="{{ product.back_img.url }}" alt="" />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="right-content">
          <h4>{{ product.name }}</h4>
          <span class="price">NGN{{ product.price }}</span>
          <ul class="stars">
            <p>{{ product.status }}</p>
          </ul>
          <span
            >{{ product.description }}</span
          >
          <!-- <div class="quote">
            <i class="fa fa-quote-left"></i>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiuski smod.
            </p>
          </div> -->
          <!-- <div class="quantity-content">
            <div class="left-content">
              <h6>No. of Orders</h6>
            </div>
            <div class="right-content">
              <div class="quantity buttons_added">
                <input type="button" value="-" class="minus" /><input
                  type="number"
                  step="1"
                  min="1"
                  max=""
                  name="quantity"
                  value="1"
                  title="Qty"
                  class="input-text qty text"
                  size="4"
                  pattern=""
                  inputmode=""
                /><input type="button" value="+" class="plus" />
              </div>
            </div>
          </div> -->
          <div class="total">
            <h4>Total: NGN{{ product.price }}</h4>
            <div class="main-border-button"><a href="https://wa.me/+2347044375920" target="_blank">Buy Now</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Product Area Ends ***** -->
{% endblock content %}
